In [1]:
import pandas as pd

df = pd.read_csv('2017.csv')
df

,Rank,Wine,Vintage,Score,Price,Unnamed: 5
0,1.0,Duckhorn Merlot Napa Valley Three Palms Vineyard-,2014,95.0,$98,NaN
1,NaN,"A powerful red, with concentrated flavors of r...",NaN,NaN,NaN,NaN
2,2.0,K Syrah Walla Walla Valley Powerline Estate-,2014,95.0,$45,NaN
3,NaN,"A knockout Syrah, precise and impeccably built...",NaN,NaN,NaN,NaN
4,3.0,Château Coutet Barsac-,2014,96.0,$37,NaN
...,...,...,...,...,...,...
195,NaN,"A powerful and concentrated red, featuring kir...",NaN,NaN,NaN,NaN
196,99.0,Robert Weil Riesling Qualitätswein Trocken Rhe...,2015,95.0,$92,NaN
197,NaN,"Very rich and complex, with enveloping flavors...",NaN,NaN,NaN,NaN
198,100.0,Sadie Family 'T Voetpad Swartland-,2015,95.0,$67,NaN
199,NaN,"Dried lemon peel, fennel seed and honeysuckle ...",NaN,NaN,NaN,NaN

In [2]:
clean1 = df[['Wine', 'Vintage', 'Score', 'Price']]
clean1.head()

                                                Wine Vintage  Score Price
0  Duckhorn Merlot Napa Valley Three Palms Vineyard-    2014   95.0  $98
1  A powerful red, with concentrated flavors of r...     NaN    NaN   NaN
2       K Syrah Walla Walla Valley Powerline Estate-    2014   95.0  $45
3  A knockout Syrah, precise and impeccably built...     NaN    NaN   NaN
4                             Château Coutet Barsac-    2014   96.0  $37

In [3]:
wine_name = []
wine_description = []
vintage = []
score = []
price = []
wine_name.append(clean1['Wine'].iloc[0:199:2])
wine_description.append(clean1['Wine'].iloc[1:200:2])
vintage.append(clean1['Vintage'].iloc[0:199:2])
score.append(clean1['Score'].iloc[0:199:2])
price.append(clean1['Price'].iloc[0:199:2])

vintage

[0      2014
 2      2014
 4      2014
 6      2012
 8      2015
        ...
 190    2015
 192    2014
 194    2014
 196    2015
 198    2015
 Name: Vintage, Length: 100, dtype: object]

In [4]:
winey = pd.DataFrame(wine_name)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed1 = transposed['Wine']

winey = pd.DataFrame(wine_description)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed2 = transposed['Wine']

winey = pd.DataFrame(vintage)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed3 = transposed['Vintage']

winey = pd.DataFrame(price)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed4 = transposed['Price']

winey = pd.DataFrame(score)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed5 = transposed['Score']

In [5]:
final_df = pd.DataFrame({
    'Wine': transposed1,
    'Description': transposed2,
    'Vintage': transposed3,
    'Price': transposed4,
    'Score': transposed5
})
final_df.head()

,Wine,Description,Vintage,Price,Score
0,Duckhorn Merlot Napa Valley Three Palms Vineyard-,"A powerful red, with concentrated flavors of r...",2014,$98,95.0
1,K Syrah Walla Walla Valley Powerline Estate-,"A knockout Syrah, precise and impeccably built...",2014,$45,95.0
2,Château Coutet Barsac-,"This shows the vivid, racy side of Barsac, wit...",2014,$37,96.0
3,Casanova di Neri Brunello di Montalcino-,"Effusive aromas and flavors of raspberry, cher...",2012,$65,95.0
4,Château de St.-Cosme Gigondas-,A textbook version of the brawny side of Gigon...,2015,$43,95.0

In [6]:
#Run table 'Wine' column through NLP algorithm

from flask import Flask,render_template,url_for,request
import pandas as pd 
import pickle
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.externals import joblib

nlp_model = open('wine_nlp_model2.pkl','rb')
vectorizer = open('vectorizer2.pkl','rb')
rfc = joblib.load(nlp_model)
cv = joblib.load(vectorizer)

/Users/brendanlegas/opt/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [7]:
predictor=[]
#for every row in 'Wine'
for row in final_df['Description']:
    input_text = str(row)
    data = [input_text]
    vect = cv.transform(data).toarray()
    model_prediction = rfc.predict(vect)
    model_prediction = str(model_prediction)
    model_prediction = model_prediction[1:2]
    predictor.append(model_prediction)
    

predictor

['3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '4',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '4',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '3']

In [8]:
final_df['Model Rating'] = predictor
final_df.to_csv('model_2017_2.csv')
final_df

,Wine,Description,Vintage,Price,Score,Model Rating
0,Duckhorn Merlot Napa Valley Three Palms Vineyard-,"A powerful red, with concentrated flavors of r...",2014,$98,95.0,3
1,K Syrah Walla Walla Valley Powerline Estate-,"A knockout Syrah, precise and impeccably built...",2014,$45,95.0,3
2,Château Coutet Barsac-,"This shows the vivid, racy side of Barsac, wit...",2014,$37,96.0,3
3,Casanova di Neri Brunello di Montalcino-,"Effusive aromas and flavors of raspberry, cher...",2012,$65,95.0,3
4,Château de St.-Cosme Gigondas-,A textbook version of the brawny side of Gigon...,2015,$43,95.0,4
...,...,...,...,...,...,...
95,Feudi del Pisciotto Nero d'Avola Terre Sicilia...,"A well-focused, rich red in a balanced, medium...",2015,$33,91.0,4
96,Odoardi Calabria GB-,"Finely balanced and creamy, this bold red offe...",2014,$45,92.0,4
97,Prats & Symington Douro Chryseia-,"A powerful and concentrated red, featuring kir...",2014,$75,94.0,4
98,Robert Weil Riesling Qualitätswein Trocken Rhe...,"Very rich and complex, with enveloping flavors...",2015,$92,95.0,4
99,Sadie Family 'T Voetpad Swartland-,"Dried lemon peel, fennel seed and honeysuckle ...",2015,$67,95.0,3